* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(248, 239, 227);
    line-height: 1.5;
}

#title {
    color: rgb(226, 95, 43);
    text-align: center;
}

#recipes-list {
    font-size: large;
}

.food-sample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section {
    color: brown;
}

ul.ingredients,
#recipes-list {
    list-style: none;
}